<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="navbar-brand a-websocket" href="/">
                    <span class="iconify" data-icon="logos:websocket"></span>
                    Entrega Desafio 9
                </a>
            </li>
        </ul>
    </div>
</nav>

