<div class="pad">
    <div class="container__product">
        <div class="form__product">
            <div class="title">
                <h1>Order your product here</h1>
            </div>
            <form class="form__add" id="formAdd" onsubmit="return addProduct(this)">
                <div class="inputs">
                    <input class="name" type="text" id="name" placeholder="Product name" required>
                    <input class="price" type="number" id="price" placeholder="Price" required>
                    <input class="description" type="text" id="description" placeholder="Description" required>
                    <input class="stock" type="number" id="stock" placeholder="Stock" required>
                    <input class="thumbnail" type="text" id="thumbnail" placeholder="Thumbnail product" required>
                    <div class="containerButton">
                        <input id="btn" class="btn__add" type="submit" value="Add">
                        <input class="btn__add" href="http://localhost:8080/products-test" value="Product Random">
                    </div>
                    

                </div>
                
            </form>
        </div>
        <div class="table-wrapper">
            <table class="fl-table">
                <div class="fixed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Stock</th>
                        <th>Thumbnail</th>
                        <th>Id</th>
                    </tr>
                    </thead>
                </div>
                <tbody id="product">
                <tbody>
            </table>
            <div id="errProduct"></div>
            
        </div>
        <div class="arrow ">
            <a href="#section2"><i class='arrowcito bx bx-chevron-down'></i></a>
        </div>
    </div>

</div>
