
<div class="all">
    <div class="rad2 form__chat">
        <h1>App<span class="point">Chat</span> </h1>
    </div>
    <div class="container__all" id="messages"></div>
    <div class="rad1 form__chat">
        <form onsubmit="return addMessage(this);">
            <input class="email" type="email" id="username" placeholder="E-mail" required>
            <input class="mensaje" type="text" id="text" placeholder="Cuentanos algo..." required>
            <button class="btn" type="submit" id="submitc" value=""><i class='bx bxs-send'></i></button>
        </form>
    </div>
    <div class="arrow arrow2">
        <a href="#section1"><i class='arrowcito bx bx-chevron-up'></i></a>
    </div>
</div>